<% include partials/header %>
<div class="weather-find">
  <div class="weather-container">
    <form action="/" method="POST">
      <input type="text" name="city" placeholder="Enter city..." required>
      <input type="text" name="country" placeholder="Enter country...">
      <button>Submit</button>
    </form>
    <button onclick="getLocation()" class="weather-btn">Current location</button>
  </div>
</div>

<div class="weather-container" id="container">
  <div class="weather">
    <div class="weather-location"> <% if(country) {%> 
      <%= city %>,  <%= country %>  
      <%}%>
    </div>
    <div class="weather-content">
      <div class="weather-info item">
        <div class="icon">
          <% if(icon ) { %> 
            <img src="<%= icon %>" alt="weather-icon"> 
          <% } %>
        </div>
          <div class="temp"> 
              <% if(temp) {%>
            Temperature: <%= temp %> %
            <%}%>
           </div>
        <div class="desc"> 
            <% if(desc) {%>
          Description: <%= desc %>
          <%}%>
         </div>
      </div>
      <div class="weather-main item">
        <div class="humidity">
            <% if(humidity) {%> 
          Humidity: <%= humidity %> % 
          <%}%>
        </div>
      </div>
      <div class="weather-wind item"> 
          <% if(wind) {%>
        Wind: <%= wind%> m/s
        <%}%> 
      </div>
      <div class="weather-sys item">
        <div>
          <div class="sunrise">
              <% if(sunrise) {%>
             Sunrise: <%= sunrise %>&#xa0;&#xa0; | &#xa0;&#xa0;
             <%}%> 
            </div>
          <div class="sunset"> 
              <% if(sunset) {%>
            Sunset: <%= sunset %>
            <%}%>
          </div>
        </div>
        <div>
          <div class="tempmin">
              <% if(tempMin) {%>
             Low: <%= tempMin %>&#xa0;&#xa0; | &#xa0;&#xa0; 
             <%}%>
            </div>
          <div class="tempmax"> 
              <% if(tempMax) {%>
            High: <%= tempMax %>
            <%}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>

